.center {
    margin: auto;
    width: 60%;
    padding: 10px;
  }
  .topnavbar {
    background-color: black;
    z-index: 10;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 350px;
  }
  
  .topnavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }