body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(Clouds.jpg)
}

.topnavbar {
    background-color: black;
    z-index: 10;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 350px;
}

.topnavbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}











/*Spēle*/







/*Sākuma lauks*/
#MainField {
    display: flex;
    position: center;
    width: 800px;
    height: 800px;
    position: relative;
    margin: 20px auto;
    background-color: rgb(65, 212, 65);
    box-shadow: 0 0 25px 30px rgb(65, 212, 65);

}

#homeenter {
    width: 25px;
    height: 20px;
    top: 126px;
    left: 100px;
}

#Cilveeks {
    z-index: 9;
    width: 20px;
    height: 20px;
    background-image: url(Cilv.png);
    position: absolute;
    top: 160px;
    left: 100px;
}

#Cilveeks1 {
    z-index: 9;
    width: 20px;
    height: 20px;
    background-image: url(Cilv.png);
    position: absolute;
    top: 160px;
    left: 100px;
}

#Cilveeks2 {
    z-index: 9;
    width: 20px;
    height: 20px;
    background-image: url(Cilv.png);
    position: absolute;
    top: 160px;
    left: 100px;
}

#Cilveeks3 {
    z-index: 9;
    width: 20px;
    height: 20px;
    background-image: url(Cilv.png);
    position: absolute;
    top: 160px;
    left: 100px;
}

#Cilveeks4 {
    z-index: 9;
    width: 20px;
    height: 20px;
    background-image: url(Cilv.png);
    position: absolute;
    top: 160px;
    left: 100px;
}

.obstacle {
    width: 100px;
    height: 100px;
    position: absolute;
}

#bridge {
    z-index: 7;
    width: 85px;
    height: 100px;
    background-color: rgb(172, 112, 33);
    position: absolute;
    top: 200px;
    left: 510px;
    box-shadow: 0px 0px 2px 7.5px rgb(142, 93, 66);
}

#water1 {
    z-index: 6;
    background-color: rgb(63, 72, 204);
    width: 540px;
    height: 100px;
    top: 200px;
    left: -40px;
    box-shadow: 6.5px 0px 2.75px 6px rgb(121, 78, 23);
}

#water2 {
    z-index: 6;
    background-color: rgb(63, 72, 204);
    width: 240px;
    height: 100px;
    top: 200px;
    left: 600px;
    box-shadow: -6px 0px 2.75px 6px rgb(121, 78, 23);
}

#tree1 {
    background-color: rgb(172, 112, 33);
    width: 30px;
    height: 30px;
    top: 50px;
    left: 300px;
}

#tree2 {
    background-color: rgb(172, 112, 33);
    width: 80px;
    height: 80px;
    top: 650px;
    left: 500px;
}

#leaves2 {
    position: absolute;
    z-index: 9;
    background-color: rgb(3, 110, 3);
    width: 250px;
    height: 250px;
    top: 560px;
    left: 410px;
    opacity: 0.8;
}

#leaves1 {
    position: absolute;
    z-index: 9;
    background-color: rgb(3, 110, 3);
    width: 90px;
    height: 90px;
    top: 20px;
    left: 270px;
    opacity: 0.5;
}

#s1 {
    top: 300px;
    left: -30px;
    width: 100px;
    height: 100px;
}

#s2 {
    top: 300px;
    left: 70px;
    width: 100px;
    height: 100px;
}

#s3 {
    top: 400px;
    left: -30px;
    width: 100px;
    height: 100px;
}

#s4 {
    top: 400px;
    left: 70px;
    width: 50px;
    height: 50px;
}

#s5 {
    top: 300px;
    left: 170px;
    width: 50px;
    height: 50px;
}

#s6 {
    top: 500px;
    left: -30px;
    width: 50px;
    height: 50px;
}

.slowZone {
    position: absolute;
    background-image: url(mud.png);
}

#rock1 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 50px;
    left: 700px;
    rotate: 0deg;
}

#rock1hitbox {
    z-index: 6;
    width: 55px;
    height: 50px;
    top: 60px;
    left: 715px;
}

#rock2 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 500px;
    left: 100px;
    rotate: 230deg;
}

#rock2hitbox {
    z-index: 6;
    width: 75px;
    height: 70px;
    top: 500px;
    left: 100px;
}

#rock3 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 700px;
    left: 700px;
    rotate: 160deg;
}

#rock3hitbox {
    z-index: 6;
    width: 72px;
    height: 65px;
    top: 705px;
    left: 705px;
}

#rock4 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 500px;
    left: 220px;
    rotate: 160deg;
}

#rock4hitbox {
    z-index: 6;
    width: 72px;
    height: 65px;
    top: 500px;
    left: 220px;
}

#rock5 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 560px;
    left: 260px;
    rotate: -20deg;
}

#rock5hitbox {
    z-index: 6;
    width: 72px;
    height: 65px;
    top: 560px;
    left: 260px;
}

#rock6 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 530px;
    left: 330px;
    rotate: 160deg;
}

#rock6hitbox {
    z-index: 6;
    width: 72px;
    height: 65px;
    top: 530px;
    left: 330px;
}

#House {
    background-image: url(House.png);
    width: 125px;
    height: 125px;
    top: 20px;
    left: 25px;
}

.teleport1 {
    width: 38px;
    height: 55px;
    position: absolute;
}

#Altar1 {
    background-image: url(Altar.png);
    top: 500px;
    left: 300px;
}

#caveenter {
    background-image: url(Caveenter.png);
    width: 125px;
    height: 125px;
    top: 300px;
    left: 700px;
}

#caveblocker1 {
    width: 1px;
    height: 125px;
    top: 300px;
    left: 698px;
}







/*Mājas lauks*/
#HomeField {
    display: flex;
    position: center;
    width: 400px;
    height: 400px;
    position: relative;
    margin: 20px auto;
    background-color: rgb(252, 184, 82);
    box-shadow: 0 0 25px 30px rgb(252, 184, 82);

}

#homeleave {
    background-color: black;
    width: 125px;
    height: 1px;
    top: 399px;
    left: 150px;
}

#bed1 {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 80px;
    height: 30px;
    top: 0px;
    left: 320px;
}

#bed2 {
    background-color: rgb(0, 156, 247);
    width: 80px;
    height: 90px;
    top: 30px;
    left: 320px;
}









/*Alas lauks*/
#CaveField {
    display: none;
    display: flex;
    position: center;
    width: 800px;
    height: 800px;
    position: relative;
    margin: 20px auto;
    background-color: rgb(92, 92, 92);
    box-shadow: 0 0 25px 30px rgb(92, 92, 92);
}

#caveleave {
    background-color: black;
    width: 125px;
    height: 125px;
    top: 700px;
    left: 300px;
}

#cavenext {
    background-color: black;
    width: 20px;
    height: 125px;
    top: 100px;
    left: 0px;
}

#caveblocker2 {
    width: 1px;
    height: 125px;
    top: 703px;
    left: 430px;
}

#caveblocker3 {
    width: 1px;
    height: 125px;
    top: 703px;
    left: 295px;
}

.RandomMover {
    z-index: 9;
    top: 400px;
    left: 400px;
    width: 20px;
    height: 20px;
    background-image: url(Object.png);
    position: absolute;
}

#RandomMover1 {
    z-index: 9;
    top: 200px;
    left: 400px;
    width: 20px;
    height: 20px;
}

#RandomMover2 {
    z-index: 9;
    top: 600px;
    left: 400px;
    width: 20px;
    height: 20px;
}

#rock7 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 430px;
    left: 330px;
    rotate: 160deg;
}

#rock7hitbox {
    z-index: 6;
    width: 72px;
    height: 65px;
    top: 435px;
    left: 335px;
}

#rock8 {
    position: absolute;
    z-index: 6;
    background-image: url(Stone.png);
    width: 80px;
    height: 70px;
    top: 170px;
    left: 530px;
    rotate: 260deg;
}

#rock8hitbox {
    z-index: 6;
    width: 57px;
    height: 60px;
    top: 188px;
    left: 553px;
    rotate: 60deg;
}

#CaveField1 {
    display: none;
    display: flex;
    position: center;
    width: 800px;
    height: 800px;
    position: relative;
    margin: 20px auto;
    background-color: rgb(92, 92, 92);
    box-shadow: 0 0 25px 30px rgb(92, 92, 92);
}

#cave1prev {
    background-color: black;
    width: 20px;
    height: 125px;
    top: 100px;
    left: 790px;
}

#cave1next {
    background-color: black;
    width: 125px;
    height: 20px;
    top: 790px;
    left: 100px;
}


#c1block1 {
    background-color: black;
    width: 60px;
    height: 100px;
    top: 0px;
    left: 750px;
}

#c1block2 {
    background-color: black;
    width: 50px;
    height: 160px;
    top: 20px;
    left: 680px;
}

#c1block3 {
    background-color: black;
    width: 150px;
    height: 100px;
    top: 20px;
    left: 510px;
}

#c1block4 {
    background-color: black;
    width: 300px;
    height: 40px;
    top: 140px;
    left: 400px;
}

#c1block5 {
    background-color: black;
    width: 130px;
    height: 100px;
    top: 200px;
    left: 600px;
}

#c1block6 {
    background-color: black;
    width: 120px;
    height: 100px;
    top: 200px;
    left: 460px;
}

#c1block7 {
    background-color: black;
    width: 60px;
    height: 100px;
    top: 220px;
    left: 750px;
}

#c1block8 {
    background-color: black;
    width: 60px;
    height: 80px;
    top: 0px;
    left: 430px;
}

#c1block9 {
    background-color: black;
    width: 140px;
    height: 20px;
    top: 100px;
    left: 370px;
}

#c1block10 {
    background-color: black;
    width: 210px;
    height: 60px;
    top: 20px;
    left: 200px;
}

#c1block11 {
    background-color: black;
    width: 160px;
    height: 100px;
    top: 0px;
    left: 20px;
}

#c1block12 {
    background-color: black;
    width: 140px;
    height: 100px;
    top: 100px;
    left: 200px;
}

#c1block13 {
    background-color: black;
    width: 20px;
    height: 200px;
    top: 100px;
    left: 360px;
}

#c1block14 {
    background-color: black;
    width: 160px;
    height: 140px;
    top: 120px;
    left: 20px;
}

#c1block15 {
    background-color: black;
    width: 20px;
    height: 600px;
    top: 120px;
    left: 20px;
}

#c1block16 {
    background-color: rgb(92, 92, 92);
    width: 20px;
    height: 20px;
    top: 720px;
    left: 0px;
}

#c1s1 {
    width: 20px;
    height: 600px;
    top: 120px;
    left: 0px;
}

#c1block17 {
    background-color: black;
    width: 120px;
    height: 300px;
    top: 280px;
    left: 60px;
}

#c1block18 {
    background-color: black;
    width: 20px;
    height: 300px;
    top: 200px;
    left: 200px;
}

#c1block19 {
    background-color: black;
    width: 160px;
    height: 20px;
    top: 500px;
    left: 200px;
}

#c1block20 {
    background-color: black;
    width: 20px;
    height: 220px;
    top: 300px;
    left: 360px;
}

#c1block21 {
    background-color: black;
    width: 20px;
    height: 220px;
    top: 260px;
    left: 320px;
}

#c1block22 {
    background-color: black;
    width: 140px;
    height: 20px;
    top: 220px;
    left: 240px;
}

#c1block23 {
    background-color: black;
    width: 20px;
    height: 260px;
    top: 220px;
    left: 240px;
}

#c1block24 {
    background-color: black;
    width: 60px;
    height: 20px;
    top: 460px;
    left: 260px;
}

#c1block25 {
    background-color: black;
    width: 20px;
    height: 180px;
    top: 260px;
    left: 280px;
}

#c1block26 {
    background-color: black;
    width: 20px;
    height: 20px;
    top: 260px;
    left: 300px;
}

#c1block27 {
    background-color: black;
    width: 220px;
    height: 20px;
    top: 540px;
    left: 180px;
}

#c1block28 {
    background-color: black;
    width: 40px;
    height: 320px;
    top: 240px;
    left: 400px;
}

#c1block29 {
    background-color: black;
    width: 80px;
    height: 20px;
    top: 200px;
    left: 380px;
}

#c1block30 {
    background-color: black;
    width: 80px;
    height: 300px;
    top: 300px;
    left: 460px;
}

#c1block31 {
    background-color: black;
    width: 260px;
    height: 20px;
    top: 580px;
    left: 200px;
}

#c1block32 {
    background-color: black;
    width: 20px;
    height: 60px;
    top: 580px;
    left: 160px;
}

#c1block33 {
    background-color: black;
    width: 420px;
    height: 20px;
    top: 620px;
    left: 180px;
}

#c1block34 {
    background-color: black;
    width: 20px;
    height: 200px;
    top: 360px;
    left: 560px;
}

#c1block35 {
    background-color: black;
    width: 190px;
    height: 20px;
    top: 320px;
    left: 540px;
}

#c1block36 {
    background-color: black;
    width: 110px;
    height: 20px;
    top: 360px;
    left: 580px;
}

#c1block37 {
    background-color: black;
    width: 20px;
    height: 200px;
    top: 360px;
    left: 670px;
}

#c1block38 {
    background-color: black;
    width: 50px;
    height: 240px;
    top: 400px;
    left: 600px;
}

#c1block39 {
    background-color: black;
    width: 130px;
    height: 20px;
    top: 600px;
    left: 650px;
}

#c1block40 {
    background-color: black;
    width: 70px;
    height: 240px;
    top: 340px;
    left: 710px;
}

#c1block41 {
    background-color: black;
    width: 4px;
    /* width: 4px */
    height: 20px;
    top: 560px;
    left: 780px;
}

#c1block42 {
    background-color: black;
    width: 100px;
    height: 120px;
    top: 600px;
    left: 40px;
}

#c1block43 {
    background-color: black;
    width: 640px;
    height: 60px;
    top: 660px;
    left: 140px;
}

#c1block44 {
    background-color: black;
    width: 110px;
    height: 20px;
    top: 640px;
    left: 670px;
}

#c1block45 {
    background-color: black;
    width: 20px;
    height: 4px;
    /* height: 4px */
    top: 620px;
    left: 760px;
}





#CaveField2 {
    display: none;
    display: flex;
    position: center;
    width: 800px;
    height: 800px;
    position: relative;
    margin: 20px auto;
    background-color: rgb(92, 92, 92);
    box-shadow: 0 0 25px 30px rgb(92, 92, 92);
}

#cave2prev {
    background-color: black;
    width: 125px;
    height: 20px;
    top: 10px;
    left: 100px;
}




.control-button {
    width: 100px;
    height: 100px;
    margin: 5px;
    font-size: 16px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonshow {
    color: white;
    padding: 14px 16px;
    font-size: 17px;
}

#upButton {
    display: none;
}

#downButton {
    display: none;
}

#leftButton {
    display: none;
}

#rightButton {
    display: none;
}

















/*To do*/
#todo-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#todo-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#add-btn {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

#todo-list {
    max-width: 400px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}

.todo-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    /* Lai aplauztu tekstu */
}



.todo-text {
    max-width: 300px;
    word-wrap: break-word;
    /* Aplauž tekstu, ja tas ir garš */
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    text-align: center;
    Color: white;
}